body {
  background-color: black;
  span {
    color: red;
  }
  background: url("@img/images.png");
}
@media (max-width: 768px) {
  span {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  span {
    background: blue;
  }
}
